<div class="welcome">
  <h1>Welcome to NBA Blacktop, Flatiron Edition!</h1>
</div>

<div class="game_start">
  <%= button_to "Start a New Game", games_path, method: :post, class: "ui inverted green button" %>
</div>
