<div class="welcome animated pulse">
  <h1>Flatiron Basketball 2018:</h1>
  <h2>Flombaum Edition</h2>
</div>

<div class="game_start">
  <img class="smoke" src="https://i.imgur.com/xgCJ8gD.png" />
  <img class="curry" src="https://i.imgur.com/t5DCpRv.png" />
  <img class="harden" src="https://i.imgur.com/DHIgNcH.png" />

  <%= button_to "Start a New Game", games_path, method: :post, class: "massive ui orange button z" %>

</div>
