/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .game_start {
   display: flex;
   justify-content: center;
   margin: 150px;
 }

 .welcome {
   display: flex;
   justify-content: center;
   margin: 100px;
 }


 div.card {
   float: left;
   padding-right: 30px;
 }

 div.players_list {
   padding-left: 100px;
   padding-right: 100px;
 }

 .draft_form {
   display: flex;
   justify-content: center;
   padding-bottom: 20px;
   padding-top: 20px;
 }

 .draft_welcome {
   display: flex;
   justify-content: center;
   padding-top: 30px;
 }
