/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
THIS IS THE CSS FOR THE FIRST PAGE
*/

.z {
  z-index: 100
}

 .game_start {
   display: flex;
   justify-content: center;
   margin: 100px;
 }

 .error {
   display: flex;
   justify-content: center;
   margin-top: 20px;
 }

 .welcome {
   display: flex;
   justify-content: center;
   margin: 100px;
   padding-top: 95px;
 }

.welcome h1 {
  font-family: 'Black Ops One', cursive;
  font-size: 30pt;
  color: black;
}

.welcome h2 {
  position: absolute;
  font-family: 'Pacifico', cursive;
  font-size: 30pt;
  color: black;
  padding-top: 40px;
}

.draft_welcome h1 {
  position: absolute;
  font-family: 'Black Ops One', cursive;
  font-size: 20pt;
  color: black;
}

.draft_welcome_2 h1 {
  position: absolute;
  font-family: 'Black Ops One', cursive;
  font-size: 20pt;
  color: black;
  padding-bottom: 50px;
  z-index: -1;
}

 .curry {

    position: absolute;
    top: 20px;
    right: -40px;
    z-index: -1;
}

.harden {

   position: absolute;
   top: 10px;
   left: -40px;
   margin-right: 30px;
   z-index: -1;

}

.smoke {

   position: absolute;
   bottom: -60px;
   width: 100%;
   z-index: -1;

}

 /*
 THIS IS THE CSS FOR DRAFT PAGE
 */

 div.card {
   float: left;
 }

 .ui.card {
   margin-right: 20px;
 }

 .ui.card:first-child {
   margin-top: 1em;
 }

 .additional {
   height: 160px;
   width: 50px;
 }

 .applebox {
  margin: 30px !important;
  width: 100px;
  height: 85px;
  box-sizing: border-box;
  background: #f5f5f5;
  padding: 10px 10px 10px;
  margin: 10px 0 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .3);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .3);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .3);
}

.applebox h1 {
  font-size: 35pt
}

.apple {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.score {
 margin: 30px !important;
 width: 110px;
 height: 85px;
 box-sizing: border-box;
 background: #f5f5f5;
 padding: 10px 10px 10px;
 margin: 10px 0 20px;
 border: 1px solid #ccc;
 border-radius: 4px;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 -o-border-radius: 4px;
 -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .3);
 -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .3);
 box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .3);
}

.score h1 {
 font-size: 35pt
}

.scoreboard {
 display: flex;
 justify-content: center;
}

 div.players_list {
   padding-left: 100px;
   padding-right: 100px;
 }

 .draft_form {
   display: flex;
   justify-content: center;
   padding-bottom: 20px;
   padding-top: 20px;
 }

 .draft_form_2 {
   display: flex;
   justify-content: center;
   padding-bottom: 20px;
   padding-top: 50px;
 }

 .draft_welcome {
   display: flex;
   justify-content: center;
   padding-top: 30px;
 }

 .draft_welcome_2 {
   display: flex;
   justify-content: center;
   padding-top: 30px;
 }

 /*
 THIS IS THE CSS FOR PLAYER SIGN UP PAGE
 */

 .ui.form {
   position: absolute;
   left: 25%;
   height: 50%;
   width: 50%;
 }

 /*
 THIS IS THE CSS FOR Start page
 */

 .team_1 {
   display: flex;
   flex-direction: column;
   position: absolute;
   left: 30px;
   top: 35px;
 }

 .team_1.ui.card {
   height: 50%;
   width: 50%;
 }

 .team_2 {
   display: flex;
   flex-direction: column;
   position: absolute;
   right: 20px;
   top: 35px;

 }

 .team_page {
   position: absolute;
   top: 20%;
   left: 38%;
 }

 .start_button {
   position: absolute;
   top: 30%;
   left: 43%;
   padding-top: 20px;
 }

 .period {
   display: flex;
   justify-content: center;
 }

 .name {
   margin-right: 200px;
   margin-left: 200px;
   margin-top: -90px;
 }

 .player_names {
   display: flex;
   justify-content: center;
 }

 .period h4 {
   font-family: 'Noto Sans', sans-serif;
   font-weight: bold;
   font-size: 14pt;
   color: black;
 }

 .teams {
   display: flex;
   justify-content: center;
 }

 .floor img {
   position: absolute;
   top: 40%;
   left: 29.5%;
   height: 55%;
   width: 40%;
 }

 .scores {
   display: flex;
   justify-content: center;
   padding-left: 20px;
 }

 .score.ui.card{
   padding-right: 30px;
 }

 .flatiron h1{
   display: flex;
   justify-content: center;
   font-family: 'Black Ops One', cursive;
 }
 .name h1{
   font-family: 'Bangers', cursive;
   font-size: 30pt;
 }

 /*
 THIS IS THE CSS FOR Form
 */

 .header{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px
}

.user_forms{
  display: flex;
  justify-content: space-evenly;
  margin-top: 250px
}

.user_1{
  display: flex;
  flex-direction: column;
  margin-right: 600px
}

.user_2{
  display: flex;
  flex-direction: column
}

.create_users{
  display: flex;
  justify-content: center
}

.versus{
  padding-top: 40px;
  font-size: 30px;
  font-weight: bold;
}

.new_users_bg{
  background-image: url(https://i.imgur.com/hPA8DPx.png)

}

.kristaps img {
  position: absolute;
  top: 30px;
  left: 28%;
  height: 100%;
  width: 40%;
}

.box {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
}

.box_2 {
  box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   outline: none;
   display: block;
   width: 100%;
   padding: 7px;
   border: none;
   border-bottom: 1px solid #ddd;
   background: transparent;
   margin-bottom: 10px;
   font: 16px Arial, Helvetica, sans-serif;
   height: 45px;
}

.form_labels {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20pt;
  width: 300px
}

.create_users {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
